.innerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  cursor: pointer;
  user-select: none;
  border-radius: inherit;
  font-weight: bold;
  border: 1px solid rgb(230, 230, 230) !important;
}

.primary {
  color: rgb(255, 255, 255);
  background: rgb(45, 65, 55);
}

.small {
  font-size: 0.9rem;
  padding: 0.6rem 1rem;
}

.medium {
  font-size: 1rem;
  padding: 0.7rem 1.3rem;
}

.big {
  font-size: 1.1rem;
  padding: 1rem 1.4rem;
}

.disabled {
  cursor: not-allowed;
}

.disabledCard {
  box-shadow: none !important;
}
