.wrapper {
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 1.2rem;
  margin: 0 0 1rem;
  display: flex;
}

.detail {
  margin: 1rem 0 1rem;
}

.nextButton {
  margin: 1rem 0 0;
}

.correctTitle {
  color: rgb(233, 40, 40);
}

.wrongTitle {
  color: rgb(80, 95, 230);
}
