.wrapper {
  display: flex;
  flex-direction: column;
  animation: fade 0.3s ease-out;
  position: relative;
}

@keyframes fade {
  0% {
    opacity: 0.3;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

.title {
  font-size: 1.2rem;
  margin: 0 0 1rem;
  display: flex;
  font-weight: bold;
}

.detail {
  margin: 1rem 0 1rem;
}

.nextButton {
  margin: 1rem 0 0;
}

.correctTitle {
  color: rgb(233, 40, 40);
}

.wrongTitle {
  color: rgb(80, 95, 230);
}
