.header {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 52px;
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12); */
  padding: 0 1.2rem;
  font-family: arial;
  font-size: 1.1rem;
  background: rgb(45, 65, 55);
}

.icon {
  font-weight: bold;
  /* color: rgb(45, 65, 55); */
  color: rgb(255, 255, 255);
}
