.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  font-size: 1.2rem;
  margin: 0 0 1rem;
}

.nCorrect {
  font-size: 1.2rem;
  margin: 1rem 0;
}

.Result {
  font-size: 1.2rem;
  margin: 1rem 0;
}

.buttonWrapper {
}

.button {
  padding: 1rem 0;
}
